
<head>
<style type="text/css">

td {color: white; }
body {background-color: 696969; }
</style>



</head>
<p>
<body >
<center>
<form method="POST" name="menu" >
	<table width="75%" border="2" >
	<tr>
		<td  align='center' colspan='2'>
			<select id="ddlHour" onchange="getSrc(this.form.ddlHour)">
				<option value="http://modapp254/Scoreboard/" selected>Home </option>
				<option value="http://modapp254/Scoreboard/00/">12 AM</option>
				<option value="http://modapp254/Scoreboard/01/">1 AM</option>
				<option value="http://modapp254/Scoreboard/02/">2 AM</option>
				<option value="http://modapp254/Scoreboard/03/">3 AM</option>
				<option value="http://modapp254/Scoreboard/04/">4 AM</option>
				<option value="http://modapp254/Scoreboard/05/">5 AM</option>
				<option value="http://modapp254/Scoreboard/06/">6 AM</option>
				<option value="http://modapp254/Scoreboard/07/">7 AM</option>
				<option value="http://modapp254/Scoreboard/08/">8 AM</option>
				<option value="http://modapp254/Scoreboard/09/">9 AM</option>
				<option value="http://modapp254/Scoreboard/10/">10 AM</option>
				<option value="http://modapp254/Scoreboard/11/">11 AM</option>
				<option value="http://modapp254/Scoreboard/12/">12 AM</option>
				<option value="http://modapp254/Scoreboard/13/">1 PM</option>
				<option value="http://modapp254/Scoreboard/14/">2 PM</option>
				<option value="http://modapp254/Scoreboard/15/">3 PM</option>
				<option value="http://modapp254/Scoreboard/16/">4 PM</option>
				<option value="http://modapp254/Scoreboard/17/">5 PM</option>
				<option value="http://modapp254/Scoreboard/18/">6 PM</option>
				<option value="http://modapp254/Scoreboard/19/">7 PM</option>
				<option value="http://modapp254/Scoreboard/20/">8 PM</option>
				<option value="http://modapp254/Scoreboard/21/">9 PM</option>
				<option value="http://modapp254/Scoreboard/22/">10 PM</option>
				<option value="http://modapp254/Scoreboard/23/">11 PM</option>
			</select>		
		</td>
	</tr>
	<tr>
		<td align="center">BK1 Scoreboard 10.3.100.104</td>
	</tr>
	<tr>
	<td>
			<img src='BK1_Scoreboard.jpg' id="image0"  alt='BK1_Scoreboard.jpg' width="100%" height="500" align="center">
		</td>
	</tr>
	<tr>
		<td align="center">BK2 Scoreboard 10.3.100.101</td>
	</tr>
	<tr>
	<td>
			<img src='BK2_Scoreboard.jpg' id="image1"  alt='BK2_Scoreboard.jpg'  width="100%" height="500" align="center">
		</td>

	</tr>	
	<tr>
		<td align="center">Printer1 Scoreboard 10.3.100.109</td>
	</tr>
	<tr>
		<td>
			<img src='Printer1_Scoreboard.jpg'  id="image2" alt='Printer1_Scoreboard.jpg' width="100%" height="500">
		</td>		

	</tr>  	
	<tr>
		<td align="center">Printer2 Scoreboard 10.3.100.108</td>
	</tr>
	<tr>
		<td>
			<img src='Printer2_Scoreboard.jpg' id="image3" alt='Printer2_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  
	<tr>
		<td align="center">Printer3 Scoreboard 10.3.100.105</td>
	</tr>
	<tr>
		<td>
			<img src='Printer3_Scoreboard.jpg'  id="image4" alt='Printer3_Scoreboard.jpg' width="100%" height="500">
		</td>		
	</tr>  
	<tr>
		<td align="center">Printer4 Scoreboard 10.3.100.106</td>
	</tr>
	<tr>
		<td>
			<img src='Printer4_Scoreboard.jpg'  id="image5" alt='Printer4_Scoreboard.jpg' width="100%" height="500">
		</td>		
	</tr>  
	<tr>
		<td align="center">Printer5 Scoreboard 10.3.100.107</td>
	</tr>
	<tr>
		<td>
			<img src='Printer5_Scoreboard.jpg' id="image6"  alt='Printer5_Scoreboard.jpg' width="100%" height="500">
		</td>		
	</tr>  
	<tr>
		<td align="center">Coater1 Scoreboard 10.3.100.115</td>
	</tr>
	<tr>
		<td>
			<img src='Coater1_Scoreboard.jpg' id="image7"  alt='Coater1_Scoreboard.jpg' width="100%" height="500">
		</td>		
	</tr>  
		<tr>
		<td align="center">Coater2 Scoreboard 10.3.100.116</td>
	</tr>
	<tr>
		<td>
			<img src='Coater2_Scoreboard.jpg' id="image8"  alt='Coater2_Scoreboard.jpg' width="100%" height="500">
		</td>		
	</tr>  
	<tr>
		<td align="center">Firebrander1 Scoreboard 10.3.100.120</td>
	</tr>
	<tr>
		<td>
			<img src='Firebrander1_Scoreboard.jpg' id="image9"  alt='Firebrander1_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">Firebrander2 Scoreboard 10.3.100.119</td>
	</tr>
	<tr>
		<td>
			<img src='Firebrander2_Scoreboard.jpg' id="image10" alt='Firebrander2_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">SACMI 28 Scoreboard 10.3.100.123</td>
	</tr>
	<tr>
		<td>
			<img src='Sacmi28_Scoreboard.jpg' id="image11" alt='Sacmi28_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">SACMI 30 Scoreboard 10.3.100.102</td>
	</tr>
	<tr>
		<td>
			<img src='Sacmi30_Scoreboard.jpg' id="image12" alt='Sacmi30_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">SACMI 38 Scoreboard 10.3.100.103</td>
	</tr>
	<tr>
		<td>
			<img src='Sacmi38_Scoreboard.jpg' id="image13" alt='Sacmi38_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">Majer 1 Scoreboard 10.3.100.124</td>
	</tr>	
	<tr>
		<td>
			<img src='Majer1_Scoreboard.jpg' id="image14" alt='Majer1_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">Majer 2 Scoreboard 10.3.100.126</td>
	</tr>	
	<tr>
		<td>
			<img src='Majer2_Scoreboard.jpg' id="image15" alt='Majer2_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  
	<tr>
		<td align="center">Majer 3 Scoreboard 10.3.100.128</td>
	</tr>
		<tr>
		<td>
			<img src='Majer3_Scoreboard.jpg' id="image16" alt='Majer3_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  
		<tr>
		<td align="center">Majer 4 Scoreboard 10.3.100.130</td>
	</tr>
	<tr>
		<td>
			<img src='Majer4_Scoreboard.jpg' id="image17" alt='Majer4_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">PVC 12 Scoreboard 10.3.100.134</td>
	</tr>
	<tr>
		<td>
			<img src='PVC12_Scoreboard.jpg' id="image18" alt='PVC12_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  		
	<tr>
		<td align="center">PVC 13 Scoreboard 10.3.100.135</td>
	</tr>	
	<tr>
		<td>
			<img src='PVC13_Scoreboard.jpg' id="image19" alt='PVC13_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">PVC 14 Scoreboard 10.3.100.136</td>
	</tr>	
	<tr>
		<td>
			<img src='PVC14_Scoreboard.jpg' id="image20" alt='PVC14_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  	
	<tr>
		<td align="center">PVC 15 Scoreboard 10.3.100.137</td>
	</tr>	
	<tr>
		<td>
			<img src='PVC15_Scoreboard.jpg' id="image21" alt='PVC15_Scoreboard.jpg'  width="100%" height="500">
		</td>		
	</tr>  		
	<tr>
		<td align="Center">
			<a href="#top" >Top</a>
		</td>
	</tr>
	</table>
</form>
</center>
</body>

</P>	
	<script language="JavaScript"  type="text/JavaScript">
		  function getSrc(newLoc)
		 {
			link=newLoc.options[newLoc.selectedIndex].value
			
			for (var x=0 ; x < 22; x++)
			{
				pic=document.getElementById('image' + String(x) ).alt
				document.getElementById('image' + String(x) ).src=link + pic
			}
		 }
</script>